<!doctype html>
<head>
<title>BackLah</title>
<!--link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}"-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!--style type=text/css>
    a{ text-decoration:none;}
    </style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='ske1.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-xlarge.css') }}" type="text/css"/>
    <link rel="stylesheet" href="css/skel.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/style-xlarge.css" type="text/css"/>
</head>

<body style="margin-left:2em; margin-right:2em">
{% if not session.manager_logged_in %}
<h3>Please <a href="{{ url_for('manager') }}">log in</a> as a manager first!</h3>
{% else %}
<div style="position:fixed;top:0;left:0;width:100%;display: inline-block;background-color:#EEEEEE;">
    <div style="margin:5px auto auto 5em;">
        <a href="{{ url_for('backstage') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" align="left" height="40"></a>
    </div>
    <div style="text-align: right;">
        <p style="text-align:right;margin-right:5em;">Welcome, {{ session.managername }}!　|　<a href="{{ url_for('logout') }}">log out</a></p>
    </div>
</div>
<div style="margin-top:11em">
    {% if session.manager_logged_in %}
    <h2>New Arrival</h2>
    <form action="{{ url_for('backstage') }}" method=post>
        <div class="6u$">ISBN　
            <input  type="text" name="isbn" placeholder="ISBN">
        </div>
        <div class="6u$">Copies
            <input type="text" size="30%" name="copies" placeholder="Copies">
        </div>
        <input type="submit" name="btn" value="Submit" style="margin-top:1em">
    </form>
    <h2><a href="{{ url_for('newbook') }}">Add new books</a></h2>
    <form action="backstage" method="post">
        <h2>Statistics</h2>
        <p>Select number of records:</p>
        <input type="number" name="num" required style="width:2.5em;">
        <input type="submit" name="btn" style="margin-left:1em" value="Confirm">
    </form>
    <div>
        <h3>Most Popular Books</h3>
        {% if books == None %}
        <h4>No records!</h4>
        {% else %}
        <table class="alt 8u$" border="1" style="text-align:center;">
            <tr>
                <td>ISBN</td>
                <td>Title</td>
                <td>Sales</td>
            </tr>
            {% for b in books %}
            <tr>
                <td><a href="{{ url_for('bookinfo', ISBN=b[0]) }}">{{ b[0] }}</a></td>
                <td>{{ b[1] }}</td>
                <td>{{ b[2] }}</td>

            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div>
        <h3>Most Popular Authors</h3>
        {% if authors == None %}
        <h4>No records!</h4>
        {% else %}
        <table class="alt 9u$" border="1" style="text-align:center;">
            <tr>
                <td>Author</td>
                <td>Sales</td>
            </tr>
            {% for a in authors %}
            <tr>
                <td>{{ a[0] }}</td>
                <td>{{ a[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div>
        <h3>Most Popular Publishers</h3>
        {% if publishers == None %}
        <h4>No records!</h4>
        {% else %}
        <table class="alt 9u$" border="1" style="text-align:center;">
            <tr>
                <td>Publisher</td>
                <td>Sales</td>
            </tr>
            {% for p in publishers %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% else %}
    <h2>Please log in first!</h2>
    {% endif %}
</div>
{% endif %}
</body>