<!doctype html>
<head>
<title>OutLah</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style type=text/css>
    a{ text-decoration:none;}
    </style>
</head>

<body>
    <p>You've logged out! Press <a href="{{ url_for('login') }}">here</a> to return to home page! </p>
</body>