<!doctype html>
<head>
<title>ManaLah</title>
<!--link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}"-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!--style type=text/css>
    a{ text-decoration:none;}
    </style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='ske1.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-xlarge.css') }}" type="text/css"/>
    <link rel="stylesheet" href="css/skel.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/style-xlarge.css" type="text/css"/>
</head>
<body>
    <div style="margin:1em auto 9em auto;width:25em;height:20em;border:2px solid #808080;border-radius:15px;background-color:#EEEEEE;">
        <div>
            <h3 style="text-align:center;margin-top: 1em">Manager</h3>
        </div>
        <div style="text-indent:6.25em;margin-left: 10%;margin-right: 10%">
            <form action="{{ url_for('manager') }}" method="post">
                <div class="row uniform 50%">
                    <div class="12u$ 12u$(8)" style="align-content: center">
                            <input style="margin-top: 1em" size="15" type="text" name="managername" value="" placeholder="Manager Name" required>
                    </div>
                    <div class="12u$ 12u$(8)" style="align-content: center">
                            <input style="margin-top: 1em" size="15" type="password" name="password" value="" placeholder="Password" required>
                    </div>
                    <div style="margin-top:1em;align-content: center">
                        <input class="button" size="40" type="submit" name="btn" value="login">
                    </div>
                <!--fieldset>
                    <input type="text" name="managername" size="15" required>
                    <br />
                    <input type="password" name="password" size="15" required>
                    <br />
                    <br />
                    <input type="submit" name="btn" value="login">
                    <br />
                </fieldset-->
                </div>
            </form>
        </div>
    </div>

</body>