<!doctype html>
<head>
<title>ManaLah</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style type=text/css>
    a{ text-decoration:none;}
    </style>
</head>
<body>
    <form action="{{ url_for('manager') }}" method="post" style="margin:1em auto auto auto;width:10em;border:2px solid #808080;border-radius:10px;background-color:#EEEEEE;">
        <fieldset style="">
            <legend>Manager</legend>
            <input type="text" value="username" size="15" required>
            <br />
            <input type="password" value="password" size="15" required>
            <br />
            <br />
            <input type="submit" value="login">
            <br />
        </fieldset>
    </form>

<div style="margin-top:1em;border:2px solid #808080;border-radius:15px;background-color:#EEEEEE;">
    {% if entries == None %}
    <p>No records!</p>
    {% else %}
    <table border="1" style="text-align:center;">
        <tr><td>entry[0]</td><td>entry[1]</td><td>entry[2]</td></tr>
        {% for entry in entries %}
        <tr><td>{{ entry[0] }}</td><td>{{ entry[1] }}</td><td>{{ entry[2] }}</td></tr>
        {% end for %}
    </table>
    {% endif %}
</div>
</body>