<!doctype html>
<head>
<title>RecoLah</title>
<!--link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style type=text/css>
    a{ text-decoration:none;}
    </style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='ske1.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-xlarge.css') }}" type="text/css"/>
</head>

<body>
{% if not session.logged_in %}
<p>Please <a href="{{ url_for('login') }}">log in</a> first!</p>
{% else %}
<div style="position:fixed;top:0;left:0;width:100%;display: inline-block;background-color:#EEEEEE;">
    <div style="margin:5px auto auto 5em;">
        <a href="{{ url_for('search') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" align="left" height="40"></a>
    </div>
    <div style="text-align: right;">
        <p style="text-align:right;margin-right:5em;">Welcome, {{ session.username }}!　|　<a href="{{ url_for('userpage') }}">My account</a>　|　<a href="{{  url_for('cart' )  }}">Cart</a>　|　<a href="{{ url_for('logout') }}">log out</a></p>
    </div>
</div>
<div style="margin-top:6em;">
    <h1>Well Done! This book has been added to your cart successfully!</h1>
    <a href="{{ url_for('cart') }}" class="button">Go to my shopping cart!</a>
    <a href="{{ url_for('search') }}" class="button">Buy more!</a>

</div>
<div style="margin-top:6em;">
    {% if rec|length == 0 %}
    <h1 style="margin-top:8em;">No Recommendation for you!</h1>
    {% else %}
    <h1>Recommendations:</h1>
    <table border="1">
        <tr>
            <td>ISBN</td>
            <td>Title</td>
            <td>Sales</td>
        </tr>
    {% for r in rec %}
        <tr>
            <td><a href="{{ url_for('bookinfo', ISBN=r[0]) }}">{{ r[0] }}</a></td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>

        </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
{% endif %}
</body>