<!doctype html>
<head>
<title>SearLah</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style type=text/css>
    a{ text-decoration:none;}
    </style>
</head>

<body>
{% if not session.logged_in %}
<p>Please <a href="{{ url_for('login') }}">log in</a> first!</p>
{% else %}
<div style="position:fixed;top:0;left:0;width:100%;display: inline-block;background-color:#EEEEEE;">
    <div style="margin:5px auto auto 5em;">
        <a href="{{ url_for('search') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" align="left" height="40"></a>
    </div>
    <div style="text-align: right;">
        <p style="text-align:right;margin-right:5em;">Welcome back,{{ session.username }}!　|　<a href="{{  url_for('userpage', USERNAME=session.username )  }}">My account</a>　|　<a href="{{  url_for('cart' )  }}">Cart</a>　|　<a href="{{ url_for('logout') }}">log out</a></p>
    </div>
</div>
<div style="margin-top:11em;border:2px solid #808080;border-radius:15px;background-color:#EEEEEE;">
    <form action="{{ url_for('search') }}" method=post>
        <div style="margin-top:0.5em;margin-left:20px;">Author　 <input type="search" size="30%" name="author"></div>
        <div style="margin-top:-1em;margin-left:50%;">Publisher<input type="search" size="30%" name="publisher"></div>
        <input style="height:2em;margin-left:80%;margin-top:-2em;font-size:1.6em;" type="submit" name="btn" value="search">
        <div style="margin-top:-1em;margin-left:20px;">Title　　<input type="search" size="30%" name="title"></div>
        <div style="margin-top:-1em;margin-left:50%;">Subject　<input type="search" size="30%" name="subject"></div>
        <div style="margin-top:1em;margin-left:20px;">
            <label>Order </label>
            <select name="order">
                <option value="">Default</option>
                <option value="year">Year</option>
                <option value="score">Average Score</option>
            </select>
            <select name="sequence">
                <option value="d">Descending</option>
                <option value="a">Ascending</option>
            </select>
        </div>
    </form>
</div>
<div style="margin-top:1em;border:2px solid #808080;border-radius:15px;background-color:#EEEEEE;">
    {% if entries == None %}
    <p>No records!</p>
    {% else %}
    <table border="1" style="text-align:center;">
        <tr>
            <td>ISBN</td>
            <td>Title</td>
            <td>Author</td>
            <td>Publishers</td>
            <td>year</td>
            <td>Copies</td>
            <td>Price</td>
            <td>Format</td>
            <td>Keywords</td>
            <td>Subject</td>
        </tr>
        {% for entry in entries %}
        <tr>
            <td><a href="{{ url_for('bookinfo', ISBN=entry[0]) }}">{{ entry[0] }}</a></td>
            <td>{{ entry[1] }}</td>
            <td>{{ entry[2] }}</td>
            <td>{{ entry[3] }}</td>
            <td>{{ entry[4] }}</td>
            <td>{{ entry[5] }}</td>
            <td>{{ entry[6] }}</td>
            <td>{{ entry[7] }}</td>
            <td>{{ entry[8] }}</td>
            <td>{{ entry[9] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endif %}
</body>