{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>New username:
        <dd><input type=text size=30 name=name>
        <dt>Passwords:
        <dd><textarea name=pass rows=5 cols=40></textarea>
        <dt>CardNum(should be unique Or you would receive an error):</dt>
        <dd><input type=text size=30 name=card>
        <dd><input type=submit name=btn value=Share>
      </dl>
    </form>

  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry[0] }}</h2></li><li>PASSWORDS:{{ entry[1] }}</li><li>CARDNUM:{{ entry[2] }}</li>
  {% else %}
    <li><em>Unbelievable.  No users here so far</em>
  {% endfor %}
  </ul>
{% endblock %}