<!doctype html>
<head>
<title>BuyLah</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='newstyle.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!--<style type=text/css>-->
    <!--a{ text-decoration:none;}-->
    <!--</style>-->

    <link rel="stylesheet" href="{{ url_for('static', filename='ske1.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-xlarge.css') }}" type="text/css"/>
    <link rel="stylesheet" href="css/skel.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/style-xlarge.css" type="text/css"/>
</head>

<body style="margin-left: 2em; margin-right: 2em">
{% if not session.logged_in %}
<p>Please <a href="{{ url_for('login') }}">log in</a> first!</p>
{% else %}
<div style="position:fixed;top:0;left:0;width:100%;display: inline-block;background-color:#EEEEEE;">
    <div style="margin:5px auto auto 5em;">
        <a href="{{ url_for('search') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="logo" align="left" height="40"></a>
    </div>
    <div style="text-align: right;">
        <p style="text-align:right;margin-right:5em;">Welcome, {{ session.username }}!　|　<a href="{{  url_for('cart' )  }}">Cart</a>　|　<a href="{{ url_for('logout') }}">log out</a></p>
    </div>
</div>
<h3 style="margin-top:6em;text-align: center"> Your Account Information </h3>
<table class="alt" style="margin-top:2em;">

    <tr>
        <th>Login Name</th>
        <td>{{ A[0] }}</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>{{ A[1] }}</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>{{ A[2] }}</td>
    </tr>
    <tr>
        <th>Card Number</th>
        <td>{{ A[3] }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ A[4] }}</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>{{ A[5] }}</td>
    </tr>
</table>

{% if O|length == 0 %}
<h3 style="margin-top:8em;text-align: center">No order_history yet!</h3>
{% else %}
    <h3 style="margin-top:6em;text-align: center"> Your Order History </h3>
    <div class="table-wrapper">
        <table class="alt" style="text-align:center;margin-top:2em;">
            <thead>
            <tr>
                <td>OrderID</td>
                <td>Date</td>
                <td>Book Name</td>
                <td>Copies</td>
            <tr>
            </thead>
            <tbody>
            {% for o in O %}
            <tr>
                <td>{{ o[0] }}</td>
                <td>{{ o[1] }}</td>
                <td>{{ o[2] }}</td>
                <td>{{ o[3] }}</td>
            </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endif %}

{% if H|length == 0 %}
    <h3 style="text-align:center; margin-top:8em;">No feedback history yet!</h3>
{% else %}
    <h3 style="margin-top: 8em; text-align: center"> Your Feedback History</h3>
    <table class="alt" style="text-align:center;margin-top:2em;">

        <thead>
            <td>ISBN</td>
            <td>Date</td>
            <td>Score</td>
            <td>Feedback</td>
        </thead>
        {% for h in H %}
        <tr>
            <td><a href="{{ url_for('bookinfo', ISBN=h[1]) }}">{{ h[1] }}</a></td>
            <td>{{ h[2] }}</td>
            <td>{{ h[3] }}</td>
            <td>{{ h[4] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if R|length == 0 %}
<h3 style="text-align:center; margin-top:8em;">No rating on feedback yet!</h3>
{% else %}
    <h3 style="margin-top: 8em; text-align: center"> Feedbacks You Rated</h3>
    <table class="alt" style="text-align:center;margin-top:2em;">
        <thead>
            <td>ISBN</td>
            <td>Date</td>
            <td>Scores</td>
            <td>Feedback</td>
            <td>Whose Feedback</td>
            <td>Usefulness</td>
        </thead>
        {% for r in R %}
        <tr>
            <td><a href="{{ url_for('bookinfo', ISBN=r[1]) }}">{{ r[1] }}</a></td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[6] }}</td>
            <td>{{ r[8] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endif %}
</body>